Pipelines/ShoppingMart_UnstructuredDataIngest_BronzeLayer.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"Github Connection khushi":{"type":"string"},"ShoppingMart_Bronze":{"type":"string"}},"variables":{},"resources":[{"name":"ShoppingMart_UnstructuredDataIngest_BronzeLayer","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy_ShoppingMart_Unstructured_MetaDataFiles","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET","requestTimeout":""},"formatSettings":{"type":"JsonReadSettings"},"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"refs/heads/master/ShoppingMart_UnstructuredMetaData.json"}},"schema":{},"externalReferences":{"connection":"[parameters('Github Connection khushi')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"ShoppingMart_Bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"7da57d91-6509-4e85-94e1-40f726026608","artifactId":"[parameters('ShoppingMart_Bronze')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"UnstructuredDataFiles","folderPath":"ShoppingMartMetaSource"}},"schema":{}}},"enableStaging":false}},{"name":"Lookup_MetaData_UnstructuredData","type":"Lookup","dependsOn":[{"activity":"Copy_ShoppingMart_Unstructured_MetaDataFiles","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"LakehouseReadSettings","recursive":false,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"ShoppingMart_Bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"7da57d91-6509-4e85-94e1-40f726026608","artifactId":"[parameters('ShoppingMart_Bronze')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"UnstructuredDataFiles","folderPath":"ShoppingMartMetaSource"}},"schema":{}}}},{"name":"ForEachSourceUnStructuredFile","type":"ForEach","dependsOn":[{"activity":"Lookup_MetaData_UnstructuredData","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup_MetaData_UnstructuredData').output.value","type":"Expression"},"activities":[{"name":"Copy_ShoppingMart_BronzeLayer","type":"Copy","dependsOn":[{"activity":"Delete Existing File","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET","requestTimeout":""},"formatSettings":{"type":"JsonReadSettings"},"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().source_url","type":"Expression"}}},"schema":{},"externalReferences":{"connection":"[parameters('Github Connection khushi')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"ShoppingMart_Bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"7da57d91-6509-4e85-94e1-40f726026608","artifactId":"[parameters('ShoppingMart_Bronze')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}}},"schema":{}}},"enableStaging":false}},{"name":"Delete Existing File","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"ShoppingMart_Bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"7da57d91-6509-4e85-94e1-40f726026608","artifactId":"[parameters('ShoppingMart_Bronze')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}}}},"enableLogging":false,"storeSettings":{"type":"LakehouseReadSettings","recursive":false,"enablePartitionDiscovery":false}}}]}}],"lastModifiedByObjectId":"686e4533-44b0-4bfd-9ae7-82527f46580e","lastPublishTime":"2025-08-30T17:03:15Z"},"dependsOn":[]}]}