Pipelines/ShoppingMart_StructuredDataIngest_BronzeLayer.json
{
    "name": "ShoppingMart_StructuredDataIngest_BronzeLayer",
    "objectId": "a93d5827-49d8-4e15-84ff-7ca7c89fab53",
    "properties": {
        "activities": [
            {
                "name": "Copy_ShoppingMart_Structured_MetaDataFiles",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "HttpReadSettings",
                            "requestMethod": "GET",
                            "requestTimeout": ""
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        },
                        "datasetSettings": {
                            "annotations": [],
                            "type": "Json",
                            "typeProperties": {
                                "location": {
                                    "type": "HttpServerLocation",
                                    "relativeUrl": "refs/heads/master/ShoppingMart_StructuredMetaData.json"
                                }
                            },
                            "schema": {},
                            "externalReferences": {
                                "connection": "2fdea079-28e1-48f1-b1da-0b588043f7d2"
                            }
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "LakehouseWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings"
                        },
                        "datasetSettings": {
                            "annotations": [],
                            "linkedService": {
                                "name": "ShoppingMart_Bronze",
                                "properties": {
                                    "annotations": [],
                                    "type": "Lakehouse",
                                    "typeProperties": {
                                        "workspaceId": "7da57d91-6509-4e85-94e1-40f726026608",
                                        "artifactId": "82c8c79c-bd26-455d-98b2-1a537207d69c",
                                        "rootFolder": "Files"
                                    }
                                }
                            },
                            "type": "Json",
                            "typeProperties": {
                                "location": {
                                    "type": "LakehouseLocation",
                                    "fileName": "StructuredDataFiles",
                                    "folderPath": "ShoppingMartMetaSource"
                                }
                            },
                            "schema": {}
                        }
                    },
                    "enableStaging": false
                }
            },
            {
                "name": "Lookup_MetaData_StructuredData",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Copy_ShoppingMart_Structured_MetaDataFiles",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "LakehouseReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "ShoppingMart_Bronze",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "7da57d91-6509-4e85-94e1-40f726026608",
                                    "artifactId": "82c8c79c-bd26-455d-98b2-1a537207d69c",
                                    "rootFolder": "Files"
                                }
                            }
                        },
                        "type": "Json",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "fileName": "StructuredDataFiles",
                                "folderPath": "ShoppingMartMetaSource"
                            }
                        },
                        "schema": {}
                    }
                }
            },
            {
                "name": "ForEachSourceStructedFile",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_MetaData_StructuredData",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_MetaData_StructuredData').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy_ShoppingMart_BronzeLayer",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Delete Existing File",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET",
                                        "requestTimeout": ""
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "type": "DelimitedText",
                                        "typeProperties": {
                                            "location": {
                                                "type": "HttpServerLocation",
                                                "relativeUrl": {
                                                    "value": "@item().source_url",
                                                    "type": "Expression"
                                                }
                                            },
                                            "columnDelimiter": ",",
                                            "escapeChar": "\\",
                                            "firstRowAsHeader": true,
                                            "quoteChar": "\""
                                        },
                                        "schema": [],
                                        "externalReferences": {
                                            "connection": "2fdea079-28e1-48f1-b1da-0b588043f7d2"
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "LakehouseWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "fileExtension": ".txt"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "ShoppingMart_Bronze",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "7da57d91-6509-4e85-94e1-40f726026608",
                                                    "artifactId": "82c8c79c-bd26-455d-98b2-1a537207d69c",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "DelimitedText",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation",
                                                "fileName": {
                                                    "value": "@item().sink_file",
                                                    "type": "Expression"
                                                },
                                                "folderPath": {
                                                    "value": "@item().sink_folder",
                                                    "type": "Expression"
                                                }
                                            },
                                            "columnDelimiter": ",",
                                            "escapeChar": "\\",
                                            "firstRowAsHeader": true,
                                            "quoteChar": "\""
                                        },
                                        "schema": []
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            }
                        },
                        {
                            "name": "Delete Existing File",
                            "type": "Delete",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "datasetSettings": {
                                    "annotations": [],
                                    "linkedService": {
                                        "name": "ShoppingMart_Bronze",
                                        "properties": {
                                            "annotations": [],
                                            "type": "Lakehouse",
                                            "typeProperties": {
                                                "workspaceId": "7da57d91-6509-4e85-94e1-40f726026608",
                                                "artifactId": "82c8c79c-bd26-455d-98b2-1a537207d69c",
                                                "rootFolder": "Files"
                                            }
                                        }
                                    },
                                    "type": "Binary",
                                    "typeProperties": {
                                        "location": {
                                            "type": "LakehouseLocation",
                                            "fileName": {
                                                "value": "@item().sink_file",
                                                "type": "Expression"
                                            },
                                            "folderPath": {
                                                "value": "@item().sink_folder",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "LakehouseReadSettings",
                                    "recursive": false,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "lastModifiedByObjectId": "686e4533-44b0-4bfd-9ae7-82527f46580e",
        "lastPublishTime": "2025-08-30T16:50:22Z"
    }
}
